<% provide(:title, "Trending List") %>
<h1>The Top Trending Movies</h1>

<% if !@allmovies.results.empty? %>
  <ul class="users">
    <% @allmovies.results.each do |amovie| %>
      <div style="border-style: dashed;">
        <li style=" color: red; background-color: #06f9ba; margin:auto; display:block; text-align: center; font-weight: bold;"><%=amovie.original_title%></li>
        <li>
          <form action="/moviedetails">
            <input type="hidden" name="id" value=<%=amovie.id%>>
            <input style="margin:auto; display:block; text-align: center; background-color: #ffb90f; width: 40%; font-weight: bold;" type="submit" value="Details">
          </form>
        </li>
        <% x = @list.find_by(movie: amovie.id)%>
        <% if x.nil?%>
          <div style="margin:auto; display:block; text-align: center; font-weight: bold;" class = "addo" id = "<%=amovie.id%>" >
            <br>
            <button class="addcart btn btn-primary">Add To Favorite List</button>
          </div>
            <p class="successl<%=amovie.id%> alert alert-success" style="margin:auto; display:none; text-align: center; width: 40%; font-weight: bold;"></p>
            <p class="errorl<%=amovie.id%> alert alert-danger" style="margin:auto; display:none; text-align: center; width: 40%; font-weight: bold;"></p>
          <br>
        <% end %>
      </div>
      <br><br>
    <% end %>
  </ul>
  <br> <br>
  <% if @allmovies.page < @allmovies.total_pages %>
    <form action="/trendingmovies">
      <input type="hidden" name="page" value=<%=@allmovies.page+1%>>
      <input type="submit" style= " margin:auto; display:block; text-align: center; background-color: blue; width: 10%; color:black; font-weight: bold;" value=<%=@allmovies.page%>>
    </form>
  <% end %>  
<% else %>
  <h2 style="color:black; font-weight: bold;"><u> there's no such page </u></h2>
  <form action="/trendingmovies">
    <input type="hidden" name="page" value=<%=@allmovies.total_pages%>>
    <input type="submit" style= " margin:auto; display:block; text-align: center; background-color: blue; width: 20%; color:black; font-weight: bold;" value="Go back">
  </form>
  <form action="/dashboard">
    <input style= " margin:auto; display:block; text-align: center; background-color: blue; width: 20%; color:black; font-weight: bold;" type="submit" value="Go to the Dashboard" />
  </form>
<% end %>



 