<% provide(:title, @details.original_title) %>
<h1>Name: <%=@details.original_title%></h1>
<h2>Release Date:</h2>
<p><%=@details.release_date%></p>
<h2>Revenue:</h2>
<p><%=@details.revenue%></p>
<h2>Overview:</h2>
<p><%=@details.overview%></p>
<%if !@casts.empty?%>
  <h2>Casts:</h2>
  <%@countr = 0%>
  <ul>
    <%@casts.each do |cast|%>
      <li><%=cast.name%></li>
      <% @countr+=1 %>
      <% break if @countr == 5 %>
    <% end %>
  </ul>
<% end %>
<form action="/dashboard">
  <input type="submit" value="Go to the Dashboard" />
</form>