<% provide(:title, @searchedname) %>
<h1><%=@moviesnames.total_results%> Search Results for "<%=@searchedname%>"</h1>

<% if !@moviesnames.results.empty? %>
  <ul class="users">
    <% @moviesnames.results.each do |name| %>
      <div style="border-style: dashed;">
        <li style=" color: red; background-color: #06f9ba; margin:auto; display:block; text-align: center; font-weight: bold;"><%=name.original_title%></li>
        <li>
          <form action="/moviedetails">
            <input type="hidden" name="id" value=<%=name.id%>>
            <input style="margin:auto; display:block; text-align: center; background-color: #ffb90f; width: 40%; font-weight: bold;" type="submit" value="Details">
          </form>
        </li>
        <% x = @list.find_by(movie: name.id)%>
        <% if x.nil?%>
          <div style="margin:auto; display:block; text-align: center; font-weight: bold;" class = "addo" id = <%=name.id%> >
            <br>
            <button class="addcart btn btn-primary">Add To Favorite List</button>
          </div>
          <p class="successl<%=name.id%> alert alert-success" style="margin:auto; display:none; text-align: center; width: 40%; font-weight: bold;"></p>
          <p class="errorl<%=name.id%> alert alert-danger" style="margin:auto; display:none; text-align: center; width: 40%; font-weight: bold;"></p>
          <br>
        <% end %>
      </div>
      <br><br>
    <% end %>
  </ul>
  <% if @moviesnames.page < @moviesnames.total_pages %>
    <form action="/searchresults">
      <input type="hidden" name="name" value=<%=@searchedname%>>
      <input type="hidden" name="page" value=<%=@moviesnames.page+1%>>
      <input style= " margin:auto; display:block; text-align: center; background-color: blue; width: 10%; color:black; font-weight: bold;"type="submit" value=<%=@moviesnames.page%>>
    </form>
  <% end %>
<% elsif @moviesnames.total_results == 0%>
  <h2 style="color:red; font-weight: bold;">there's no such results for that movie!</h2>
  <h2 style="color:black; font-weight: bold;"><u>Search Again: </u></h2> 
 <form action="/searchresults">
  <input placeholder="enter movie name here...." style="background-color: #ffd7a3; margin:auto; display:block; text-align: center; width: 20%; color:black; font-weight: bold;" type="text" name="name" required><br><br>
  <input style="margin:auto; display:block; text-align: center; background-color: #9EF598; width: 10%; color:black; font-weight: bold;" type="submit" value="search">
</form> 
<% else %>
  <h2 style="color:black; font-weight: bold;"><u> there's no such page</u></h2>
  <form action="/searchresults">
    <input type="hidden" name="name" value=<%=@searchedname%>>
    <input type="hidden" name="page" value=<%=@moviesnames.total_pages%>>
    <input style= " margin:auto; display:block; text-align: center; background-color: blue; width: 20%; color:black; font-weight: bold;" type="submit" value="Go back">
  </form>
  <form action="/dashboard">
    <input style= " margin:auto; display:block; text-align: center; background-color: blue; width: 20%; color:black; font-weight: bold;" type="submit" value="Go to the Dashboard" />
  </form>
<% end %>



 